<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<H1>Hello Miro</H1>
<tr th:each="car: ${cars}">
    <td th:text="${car.getMarka()}"/><br>
    <td th:text="${car.getModel()}"/>
    <p>---------------------------</p>
</tr>



<form>
    <p>Marka: <input type="text"></p>
    <p>Model: <input type="text"></p>
    <p><input type="submit"></p>
</form>
<p th:text="${cars[2].marka}"></p>
<p th:text="${cars[2].model}"></p>
</body>
</html>